html {
 font-size: 14px;
}

body {
 font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.475rem;
}

h3 {
  font-size: 1.25rem;
}

a {
 color: #5196a6;
 text-decoration: none !important;
}

a:hover {
 color: #407784;
}

footer {
 width: 100%;
 height: 60px;
 position: absolute;
 bottom: 0;
 background-color: #f2f0eb;
}

.booking_system-wrapper {
 min-height: 100vh;
 position: relative;
 padding-bottom: 60px;
 box-sizing: border-box;
}

.booking_system-navbar {
 min-height: 60px;
}

.booking_system-logo {
 height: 30px;
}

.booking_system-btn {
  background-color: #5196a6 !important;
  transition: 0.1s;
}

.booking_system-btn:hover {
  opacity: 0.8;
}

.booking_system-dropdown-item:active {
  background-color: #5196a6;
}

.booking_system-page-link {
  color: #5196a6;
}

.booking_system-page-link:hover {
  color: #407784;
}

.booking_system-active {
  background-color: #5196a6 !important;
  border-color: #5196a6 !important;
}

.booking_system-pre-wrap {
  white-space: pre-wrap;
}

.booking_system-link-danger {
  color: #f2594b;
}

.booking_system-link-danger:hover {
  color: #a63c3c;
}

.booking_system-btn-danger {
  background-color: #f2594b !important;
  transition: 0.1s;
}

.booking_system-btn-danger:hover {
  opacity: 0.8;
}

.booking_system-card-link {
  transition: 0.3s;
}

.booking_system-card-link:hover {
  opacity: 0.7;
}

.booking_system-horizontal-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.booking_system-sort-box {
  width: 150px;
}

.booking_system-vertical-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.booking_system-search-form {
  max-width: 300px;
}

.booking_system-swiper {
  width: 100%;
  height: 480px;
}

.booking_system-swiper img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.booking_system-overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.booking_system-overlay-text {
  padding: 0 70px;
}

.booking_system-catchphrase-heading {
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.booking_system-catchphrase-paragraph {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.booking_system-accordion-body:hover {
  background-color: #f8f9fa;
}

.booking_system-accordion-body:active {
  background-color: #5196a6;
  color: #ffffff;
}

.booking_system-star {
  color: #ffa500;
} 

.booking_system-star:focus {
  color: #ffa500;
}

@media screen and (min-width: 1400px) {
 .booking_system-container {
   max-width: 1200px;
 }
}